<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChinaDailyForiPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>310D1BEB2074674600FF3CBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310D1C032074674700FF3CBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310D1C0E2074674700FF3CBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
